{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="w3-container w3-theme-d5 w3-round-xlarge ">
        <h2>{{ page.title }}</h2>
        {% with authors=page.authors.all %}
        {% if authors %}
            <ul>
                {% for author in authors %}
                    <li style="display: inline">
                        {% image author.author_image scale-5 style="vertical-align: middle" %}
                        <span style=" font-size: 16px;text-shadow: 1px 1px 1px #ff9933;">{{ author.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div class="intro"><p>{{ page.intro }}</p></div>
    
        <div class="w3-container w3-round-xlarge w3-theme-l3 w3-text-theme w3-justify">{{ page.body|richtext }}</div>

    {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button"><span style="text-shadow: 1px 1px 1px #000000;">{{ tag }}</span></button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <br>
    </div>
{% endblock %}