{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="w3-container w3-third">
    {% for post in blogpages %}
        {% with post=post.specific %}
            <div class="w3-container w3-theme">
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}
                <p>{{ post.intro }}</p>
            </div>
            <div class="w3-container w3-theme-l3 w3-text-theme">
                {{ post.body|richtext }}
            </div>
        {% endwith %}
    {% endfor %}
    </div>
{% endblock %}